body {
    display: grid;
    gap: 2%;
    grid-column: auto;
    margin: 30px;
    background: url("img/wall_texture.png");
}

/* HEADER */
header {
    display: flex;
    padding: 30px;
    border: 2px solid black;
    border-radius: 30px;
}

header nav {
    display: flex;
    justify-content: flex-end;

}

/* MAIN CONTAINER */
.container_1 {
    border: 2px solid black;
    border-radius: 30px;
    padding: 30px;
}

/* INFO ABOUT */
.container_1 .about img {
    border-radius: 50%;
    border: 7px solid black;
}
.container_1 .about {
    display: flex;
    font-size: 20px;
    gap: 5%;
    border: 2px solid black;
    background-color: rgba(red, green, blue, alpha);
    border-radius: 30px;
    padding: 30px;
    margin: 15px;
}

/* INFO PROJECTS */
.container_1 .project {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 30px;
    padding: 30px;
    margin: 15px;
}

.container_1 .project div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* CONTACT */
.container_1 .contact {
    border: 2px solid black;
    border-radius: 30px;
    padding: 30px;
    margin: 15px;
}
.container_1 .contact div {
    display: flex;
    align-items: center;

}
